@import "tailwindcss";

@theme {
  --color-primary: #FFA62B;
  --color-secondary: #86C5FF;
  --color-accent: #2E5AA7;
  --color-highlight: #F8E6A0;

  --font-inter: var(--font-inter), sans-serif;
  --font-cairo: var(--font-cairo), sans-serif;

  --radius-sm: 0px;
  --radius-md: 0px;
  --radius-lg: 0px;
  --radius-xl: 0px;
  --radius-2xl: 0px;
  --radius-3xl: 0px;
  --radius-full: 0px;
  --radius: 0px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

body[dir="rtl"] {
  font-family: var(--font-cairo);
}

@keyframes ripple {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
